<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.order.test.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensquare.qa.mapper.ProblemMapper">

    <sql id="getSqlByProblem">
        <if test="title != null">
            title = #{title}
        </if>
        <if test="content != null">
            content = #{content}
        </if>
        <if test="createtime != null">
            createtime = #{createtime}
        </if>
        <if test="updatetime != null">
            updatetime = #{updatetime}
        </if>
        <if test="userid != null">
            userid = #{userid}
        </if>
        <if test="nickname != null">
            nickname = #{nickname}
        </if>
        <if test="visits != null">
            visits = #{visits}
        </if>
        <if test="thumbup != null">
            thumbup = #{thumbup}
        </if>
        <if test="reply != null">
            reply = #{reply}
        </if>
        <if test="solve != null">
            solve = #{solve}
        </if>
        <if test="replyname != null">
            replyname = #{replyname}
        </if>
        <if test="replytime != null">
            replytime = #{replytime}
        </if>
    </sql>

</mapper>