<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.order.test.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensquare.recruit.mapper.EnterpriseMapper">

    <sql id="getSqlByEnterprise">
        <if test="name != null">
            name = #{name}
        </if>
        <if test="salary != null">
            salary = #{salary}
        </if>
        <if test="summary != null">
            summary = #{summary}
        </if>
        <if test="address != null">
            address = #{address}
        </if>
        <if test="labels != null">
            labels = #{labels}
        </if>
        <if test="coordinate != null">
            coordinate = #{coordinate}
        </if>
        <if test="ishot != null">
            ishot = #{ishot}
        </if>
        <if test="logo != null">
            logo = #{logo}
        </if>
        <if test="jobcount != null">
            jobcount = #{jobcount}
        </if>
        <if test="url != null">
            url = #{url}
        </if>
    </sql>

</mapper>